<!DOCTYPE html>
<html>
  <head>
    <title>PropertyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= controller.controller_name %>" class="<%= controller.action_name %> <%= "show-sidebar" if @show_sidebar.present? %>">
    <%# <% if ["public","devise","sessions","registrations"].include?(controller.controller_name) %>
    <% if @show_sidebar.nil? %>
      <header>
        <%= render 'layouts/nav/public' %>
      </header>
      <%= yield %>

    <% else %>

      <%= render 'layouts/nav/dashboard' %>
      <div class="container-fluid">
        <div class="row">
          <%= render "layouts/nav/sidebar"%>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mt-4">
              <%= yield %>
            </main>
        </div>
      </div>
    <% end %>


    <%# <%= render 'layouts/footer' %>


    <div id="notifications"><%= notice %></div>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>feather.replace()</script>
  </body>
</html>
